@font-face {
    font-family: 'montserrat';
    src: url('fonts/montserrat-regular.woff') format('woff'),
         url('fonts/montserrat-regular.woff2') format('woff2')
}
@font-face {
    font-family: 'comic';
    src: url('fonts/ComicSansMSItalic.woff');
}